@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magneta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    flex-flow: column;
    height: 90vh;
    width: 375px;
    max-width: 90%;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    border: 1px solid black;
}

.container__item {
    height: 45vh;
    border: 1px solid red;
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
    padding: 5em;
}

/* .main-heading {
    font-size: 3.2em;
    font-weight: 700;
    color: var(--very-dark-magneta);
    line-height: 1;
    letter-spacing: -0.04ch;
    width: 85%;
    position: relative;
    top: 0.4em;
    left: 0.6em;
    border: 1px solid blue;
} */

/* .introduction-text {
    line-height: 1.5;
    letter-spacing: -1px;
    width: 70%;
    position: relative;
    top: 2.1em;
    left: 2em;
    border: 1px solid blue;
} */

.feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    
}

/* .publication {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid blue;
} */

/* li:first-child {
    align-self: baseline;
    margin-top: 0;
} */

.publication__item {
    background-color: var(--Light-Grayish-Magenta);
    padding: 1em;
    margin: 0 0 1.5em 0;
}

.feedback p::before {
    display: inline-block;
    position: relative;
    content: '';
    background: url(../images/icon-star.svg) repeat-x;
    height: 1em;
    width: 5.5em;
}


.review {
    display: flex;
    flex-wrap: wrap;
    
}

.review__items {
    flex: 1 1 33%;
    min-width: 200px;
    border: 1px solid blue;
} 

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
    